/*
.inputArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 12%;
}

.inputArea label {
  margin-right: 0.5rem;
}

.inputArea input{
  width: 28rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
}

.inputArea textarea {
  width: 28rem;
  height: 15rem;
  padding: 0.5rem;
}

.inputArea>div {
  display: flex;
  align-items: flex-start;
}
 
.inputArea button {
  align-self: flex-start;
  margin: 0.5rem 0rem 0.5rem 5.6rem;
}

.addTags {
  align-self: flex-start;
  display: flex;
}

.addTags button {
  margin-left: 0.5rem;
}

.addTags li {
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  color: #344653;
  border: 1px solid black;
  line-height: 1.4;
  padding: 0 0.2rem;
}

.addTags li:hover {
  cursor: default;
  box-shadow: 0 0 2px #344653;
}

.addTags ul {
  align-self: flex-start;
  margin-left: 5.6rem;
}

.inputArea span {
  align-self: flex-start;
  margin-left: 5.6rem;
}

.md {
  margin-top: 0.5rem;
}

.md>div {
  width: 28rem;
  border: 1px solid black;
  height: 10rem;
  box-shadow: 0 0 2px #344653;
  overflow:auto;
  padding:0.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
}

.md>div h1, h2, h3, h4, h5, h6 {
  line-height: 2;
}

.md>div code {
  font-size: 0.7rem;
}

.md>div li {
  margin: 0;
  border: none;
  display: block;
  padding-left: 0.5rem;
}

.md>div ul {
  margin: 0;
}

.md>div li:hover {
  box-shadow: 0 0 0;
}

.md>div a {
  font-size: 0.9rem;
}

.md>div a:hover {
  text-decoration: underline;

  color: black;
}

.md>div {

}*/

.inputArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1rem;
}

.inputArea label {
  margin-right: 0.5rem;
}

.inputArea input{
  width: 25rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
}

.inputArea textarea {
  width: 25rem;
  height: 15rem;
  padding: 0.5rem;
}

.inputArea>div {
  display: flex;
}
 
.inputArea button {
  margin: 0.5rem 0rem 0.5rem 5.6rem;
}

.addTags {
  display: flex;
}

.addTags button {
  margin-left: 0.5rem;
}

.addTags li {
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  color: #344653;
  border: 1px solid #009a94;
  line-height: 1.4;
  padding: 0 0.2rem;
}

.addTags li:hover {
  cursor: default;
  box-shadow: 0 0 2px #009a94;
}

.addTags ul {
  margin-left: 5.6rem;
}

.inputArea span {
  margin-left: 5.6rem;
}

.inputArea button {
  text-decoration: none;
  color: #344653;
  line-height: 1.5;
  width: 4rem;
  height: 1.4rem;
  display: block;
  line-height: 1.4rem;
}

.inputArea button:hover {
  background-color: #009A94;
  color: white;
}

/*markdown*/
.md {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.md>div {
  width: 25rem;
  border: 1px solid black;
  height: 10rem;
  box-shadow: 0 0 2px #344653;
  overflow:auto;
  padding:0.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.md li {
  display: list-item;
  margin: 0;
  padding: 0;
}

.md p {
  line-height: 1rem;
}

.md ul {
  list-style: square;
  padding-left:1.2rem;
}

.md ol {
  padding-left:1.2rem;
}

.md pre {
  background-color: rgba(0,154,148,0.7);
  color: white;
  padding: 8px 10px;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  overflow-x: hidden;
}

.md code {
  background-color: #47b3af;
  color: white; 
}

.md pre code {
  font-size: 10pt;
  font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
}

.md blockquote {
  font-style: italic;
  margin: 1rem 1rem 1rem;
  padding-left: 1rem;
  border-left: 3px solid #47b3af;
}

.md a {
  font-size: 0.9rem; 
}

.md a:hover {
  text-decoration: underline; 
}

.md img {
  width: 100%;
  box-shadow: 0 0 10px #009a94;
}
