.comments ul {
  display: flex;
  flex-direction: column;
}

.comments li{
  margin-top: 1rem;
  margin-bottom: 0;
  border-bottom: 1px solid #009a94;
}

.comments p {
  margin-top: 0.3rem;
}

.comments h3 {
  margin-top: 1rem;
}

.comments h4 {
  display: inline;
  font-weight: 100;
  margin-right: 1rem;
}